@keyframes marquee {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100vw);
  }
}

.marquee-container {
  overflow: hidden;
  padding: 12px 0;
}

.marquee {
  display: flex;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
}

.marquee-container:hover .marquee {
  animation-play-state: paused;
}

.marquee a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
